*{
    font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
}

body{
    box-sizing: border-box;
    margin:0;
}

#main{
    width: 100%;
    height: 100vh;
    background-image: url("images/KAT_HBSR_BANNER-WEB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
background-position: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#slogan{
    color:#104358;
    font-size: 45px;
    margin:20px;
}

#left{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
}

#right{
    flex:1;
}

#button{
    background-color: #104358;
    border-radius: 10px;
    padding:30px 80px;
    color:white;
    font-size:42px;
}

#button:hover{
    background-color: #ffffff;
    color:black;
    cursor: pointer;
    transition: background-color 0.5s;
}